<style>
      #app {
        margin: 50px auto;
      }

      .center {
        text-align: center;
      }

      .guess {
        position: relative;
        top: 50px;
        display: inline;
        font-size: 60px;
        border: 1px solid black;
        padding: 0 25px;
        border-radius: 10%;
      }

      #player-input {
        border-radius: 90px;
        padding: 10px;
        width: 100px;
        height: 100px;
        background-color: #FFFFF0;
      }

      #submit {
        border-radius: 100px;
        padding: 10px;
        width: 45px;
        height: 45px;
        background-color: #69BF6B;
        position: relative;
        top: 50px;
        right: 40px;
      }

      #body {
      margin-bottom: 120px;
      background-color: lightblue;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      #menu-btns {
        position: relative;
        top: 55px;
      }

      img {
          display: inline;
          width: 200px;
          height: 100px;
      }

      #footer {
          width: 100%;
          border-top: solid 2px black;
          background-color: white;
          position: fixed;
          bottom: 0;
      }

</style>